{% extends 'upload.html' %}

{% block title %}
  About Us | My Website
{% endblock %}
{% load static %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/about.css' %}" />
{% endblock %}
{% block content %}
  <!-- Main Content -->
  <section class="main-content">
    <section class="about-section">
      <div class="about-header">
        <h1>About Me</h1>
        <p>Learn more about me what I do</p>
      </div>

      <div class="about-content">
        <div class="about-image">
          <img src="{% static 'image/profile.jpg' %}" alt="Our Team" />
        </div>
        <div class="about-text">
          <h2>Intro</h2>
          <p>Hii! I’m Onkar Shinde, currently pursuing my degree in Artificial Intelligence and Data Science. I have a strong foundation in Python programming and a keen interest in AI & machine learning.I try to learn new things in daily life</p>

          <h2>Education</h2>
          <ul>
            <li>College : D Y College Of Engineering Akurdi,Pune</li>
            <li>Year : 3rd</li>
            <li>CGPA : 8.33</li>
          </ul>

          <h2>Explore More Projects</h2>
          <ul class="project-links">
            <li>
              <a href="https://phishingdetection-latest.onrender.com/" target="_blank">Phishing-Detection</a>
            </li>
            <li>
              <a href="https://fast-api-project.streamlit.app/" target="_blank">Insurance-Premium-Prediction-API</a>
            </li>
            <li>
              <a href="https://laptop-price-prediction-frontend.vercel.app/" target="_blank">laptop-price-prediction</a>
            </li>
          </ul>
          <h2>My Technical Profile</h2>
          <div class="footer-social">
            <a href="https://github.com/onkarshinde77" target="_blank" rel="noopener noreferrer" aria-label="Github"><i class="fab fa-github"></i></a>
            <a href="https://x.com/onkarshinde77" target="_blank" rel="noopener noreferrer" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
            <a href="https://www.linkedin.com/in/onkarshinde77" target="_blank" rel="noopener noreferrer" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
            <a href="https://www.instagram.com/onkar.ss77/" target="_blank" rel="noopener noreferrer" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
    </section>
  </section>
{% endblock %}
