{% extends 'upload.html' %}

{% block title %}
  Thank You | My Website
{% endblock %}
{% load static %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/thank_you.css' %}" />
{% endblock %}

{% block content %}
  <section class="main-content">
    <section class="thank-you-section">
      <h1>Thank You!</h1>
      <p>Your message has been sent successfully. We will get back to you soon.</p>
      <a href="{% url 'contact' %}">Send another message</a>
    </section>
  </section>
{% endblock %}
