<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <title>
      {% block title %}
        My Website
      {% endblock %}
    </title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/upload.css' %}" />
    <link rel="stylesheet" href="{% static 'css/functions.css' %}" />
    {% comment %} <link rel="stylesheet" href="{% static 'responsive.css' %}" /> {% endcomment %}
    {% block extra_css %}

    {% endblock %}
  </head>
  {% load django_browser_reload %}
  {% django_browser_reload_script %}
  <body>
    <!-- header -->
    <nav>
      <div class="container">
        <a href="/" class="nav-logo">
          <i class="fas fa-cloud-upload-alt"></i>
          <span>UploadPro</span>
        </a>
        <ul class="nav-links">
          <li><a href="/">Home</a></li>
          <li><a href="{% url 'about' %}">About Us</a></li>
          <li><a href="{% url 'contact' %}">Contact Us</a></li>
        </ul>
      </div>
    </nav>

    <!-- main -->
    <main class="container">
      {% block content %}
      <div class="main-container-content">
        <div class="upload-heading-div">
          <h2 >📂 Upload Your WhatsApp Chat</h2>
          <h4>Easily analyze your WhatsApp conversations! Export your chat from WhatsApp, upload the .txt file here, and get detailed insights into your chat patterns, activity, and more.</h4>
        </div>
        <div class="div-form" style="display:{{ display }};">
            <h2 class="heading-form">Upload a file</h2>
            <form class="upload-form" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <label for="uploaded_file" class="file-label">
                <i class="fas fa-cloud-upload-alt"></i>
                <span>Choose a file or drag & drop here</span>
              </label>
              <input type="file" name="uploaded_file" id="uploaded_file" required />
              <button type="submit">Upload</button>
            </form>
          </div>
        </div>

        {% if file_content %}
          <div class="file-content-main-div">
            <div class="dropdown-div">
              <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <!-- Add a hidden input to preserve the uploaded file if needed -->
                <div class="dropdown">
                  <lable id="selected_user-lable" for="selected_user"> Select User :</lable>
                  <select name="selected_user" onchange="this.form.submit()">
                    <option value="All Users">All Users</option>
                    {% for option in users %}
                      <option value="{{ option }}" {% if selected_user == option %}selected {% endif %}>{{ option }}</option>
                    {% endfor %}
                  </select>
                </div>
                <!-- Optionally, keep the file input here if you want to allow re-upload -->
              </form>
            </div>
            <div class="main-table-div">
              <h3 class="table-heading">File Content:</h3>
              <div class="table-responsive">{{ file_content|safe }}</div>
            </div>
          </div>
          <div class="all_stat_main_div">
            {% comment %} stats {% endcomment %}
            <div class="stats-table-container">
              <h3 class="table-heading">Stats:</h3>
              <table class="stats-table">
                <thead>
                  <tr>
                    <th>Total Messages</th>
                    <th>Total Words</th>
                    <th>Total Media</th>
                    <th>Total Links</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td data-label="Total Messages">{{mess_num}}</td>
                    <td data-label="Total Words">{{words}}</td>
                    <td data-label="Total Media">{{media}}</td>
                    <td data-label="Total Links">{{link_count}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            {% comment %} graph of active user {% endcomment %}
            {% if selected_user == "All Users" %}     
            <div class="active_user_chart_div">
              <h3 class="table-heading">Most Active User:</h3>
              <div class="table-max-user-div">
                <img src="data:image/png;base64,{{ chart }}">
                <div class="table-max-user">{{ max_user_table |safe }}</div>
              </div>
            </div>
            {% endif%}

            <div class="max_word_div">
              <h3 class="table-heading">Most Used Words:</h3>
              <div class="table-responsive specific-table">{{ most_used_words |safe }}</div>
            </div>
            <div class="max_emoji_div">
              <h3 class="table-heading">Most Used Emojis:</h3>
              <div class="table-responsive">{{ emoji | safe }}</div>
            </div>
            <div class="timeline_div">
              <h3 class="table-heading">Active Month Timeline:</h3>
              <img src="data:image/png;base64,{{ timeline }}">
            </div>
          </div>
        {% endif %}
      {% endblock %}
    </main>

    <!-- footer -->
    <footer>
      <div class="footer-container">
        <div class="footer-about">
          <div class="footer-logo">
            <i class="fas fa-cloud-upload-alt"></i>
            <span>UploadPro</span>
          </div>
          <p>We provide secure and fast file upload services with the highest level of privacy and data protection for all your needs.</p>
          <div class="footer-social">
            <a href="https://github.com/onkarshinde77" aria-label="Github"><i class="fab fa-github"></i></a>
            <a href="https://x.com/onkarshinde77" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
            <a href="https://www.linkedin.com/in/onkarshinde77" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
            <a href="https://www.instagram.com/onkar.ss77/" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
          </div>
        </div>

        <div class="footer-contact">
          <h3 class="footer-heading">Contact Us</h3>
          <p>
            <i class="fas fa-map-marker-alt"></i> Akurdi,Pimpri-Chinchwad,Pune
          </p>
          <p>
            <i class="fas fa-phone-alt"></i> +91 9309313545
          </p>
          <p>
            <i class="fas fa-envelope"></i> shindeonkar704@gmail.com
          </p>
        </div>
      </div>
      <div class="footer-bottom">
        <p>
          &copy; <span id="current-year">2023</span> UploadPro. All rights reserved.
        </p>
      </div>
    </footer>
    <script src="{% static 'js/upload.js' %}"></script>
  </body>
</html>
